<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Subs List</title>
  </head>
  <body>
    <h1>JEDDIT</h1>
    <h2>Subs list</h2>
    <ul>
      <p><%= subGroupPost.id %></p>
      <p><%= subGroupPost.title %></p>
      <a href="<%= subGroupPost.link %>">Link</a>
      <p><%= subGroupPost.description %></p>
      <p><%= subGroupPost.subgroup %></p>
      <p><%= subGroupPost.timestamp %></p>
    </ul>

  </body>
</html>